/proxy_temp/
/scgi_temp/
/uwsgi_temp/
.idea/
.vscode
*.log
.un~
nginx.pid
t/servroot
conf/app-dev.json
deps

.tools/
!.tools/ASF-Release.cfg
utils/lj-releng
utils/reindex

benchmark/out/
!benchmark/server/conf/nginx.conf
